CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

/*targets the html h1 elements*/
h1 {
	color: gold;
	background-color: rgba(200,200,200,0.2);
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	border-radius: 10px;
	padding: 10px;

	text-align: center;

}
/*end of h1 styling*/

/*targets h2 elements*/
h2 {

	color: gold;
	background-color: rgba(200,200,200,0.2);
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;	
	border-radius: 10px;

	text-align: center;

}

/*end of h2  styling*/

/*targets elements with class bio*/
.bio {
	

	margin-top: 20px;
	font-size: 18px;
	color: aliceblue;
	line-height: 25px;
	background-color: rgba(51,51,51,0.2);
	text-align: center;
	border-radius: 10px;
	text-shadow: 2px 1px #333;
}


/*end of bio class styling*/


/*targets profile image*/	

#me {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	border-width: 5px;
	border-color: gold;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;


}



/*end of profile image styling*/
/*targets body*/
body {
	background-image: url("../images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

/*to blur background image: comment background in body, 
uncomment .bg-img and transform in container*/

/*.bg-img {
	background-image: url("../images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	height: 100vh;
} */


/*end of body styling


/*targets container class*/
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
/*	transform: translate(0,-155%);*/

}

/*end of container